<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<php>
		<server name="SERVER_PROTOCOL" value="HTTP/1.1" />
		<server name="HTTP_HOST" value="localhost" />
		<server name="PHP_SELF" value="/index.php" />
	</php>
	<testsuites>
		<testsuite name="WP-SDL Test Suite">
			<directory suffix="_test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./classes</directory>
		</whitelist>
	</filter>
</phpunit>
