<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<php>
		<server name="SERVER_PROTOCOL" value="HTTP/1.1" />
		<server name="HTTP_HOST" value="bpsugar.localdomain" />
		<server name="PHP_SELF" value="/index.php" />
		<const name="WP_DEBUG" value="false" />
		<const name="DISABLE_WP_CRON" value="true" />
		<const name="WP_TEST_LOAD_PATH" value="../../../wp-load.php" />
	</php>
	<testsuites>
		<testsuite name="WP-SDL Test Suite">
			<directory suffix="_test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
